.title{
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
}

.title-text{
    cursor: pointer;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left:0;
    top: 0;
    width:100%;
    background-color:tomato;
    color: white;
    padding:15px 0;
    text-align: center;
}

.cart-icon{
    font-size: 30px;
    right: 0;
    position: fixed;
    float: right;
    padding-right: 50px;
}

.user-icon{
    font-size: 30px;
    right: 0;
    position: fixed;
    float: right;
    padding-right: 100px;
}
