.Head{
    position: static;
    left:0;
    top: 0;
    width:100%;
    background-color:tomato;
    color: white;
    padding:15px 0;
    text-align: center;
}

.Link {
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    float:left
}
.Title{
    font-family: fantasy;
    font-size: xx-large;
}