
.Head{
    position: static;
    left:0;
    top: 0;
    width:100%;
    background-color:tomato;
    color: white;
    padding: 20px;
    text-align:center
}
.Link{
    float: right;
}
.Title{
    font-family: fantasy;
    font-size: xx-large;
    margin: auto;
}